/* Created by Fargana Syed */
/* Reference: https://www.w3schools.com/ */

/* defined color and font type for the Login web page body */
body{
	font-family: Arial, Verdana, sans-serif;
	background-color: white;

}

div#accountform{
	margin: auto;
	background-color: #ffff99;
}